@{
    ViewData["Title"] = "Add Movie";
}
 @model Mission4Jan24.Models.ApplicationResponse

<h1>Fill out dating application</h1>
<br />

<div>
    <form method="post">
        <table class="table table-hover">
            <tr>
                <td><label asp-for="Category">Category:</label></td>
                <td><input asp-for="Category" /></td>
            </tr>
            <tr>
                <td><label asp-for="Title">Title:</label></td>
                <td><input asp-for="Title" /></td>
            </tr>
            <tr>
                <td><label asp-for="Year">Year:</label></td>
                <td><input asp-for="Year" /></td>
            </tr>
            <tr>
                <td><label asp-for="Director">Director:</label></td>
                <td><input asp-for="Director" /></td>
            </tr>
            <tr>
                <td><label asp-for="Rating">Rating:</label></td>
                <td>
                    <select asp-for="Rating">
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Edited">Edited:</label></td>
                <td>
                    <select asp-for="Edited">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="LentTo">Lent To:</label></td>
                <td><input asp-for="LentTo" /></td>
            </tr>
            <tr>
                <td><label asp-for="Notes">Notes:</label>
                <td><input asp-for="Notes" /></td>
            </tr>
            <tr>
                
                <td><button type="submit">Add Movie</button></td>
            </tr>
        </table>
</form>
</div>